PG_DATABASE=postgres
PG_USER=POSTGRES_USER
PG_PASSWORD=POSTGRES_PASSWORD
PG_HOST=POSTGRES_HOST
PG_PORT=5432

MEILI_HOST=http://localhost:7700
MEILI_API_KEY=MEILISEARCH_MASTER_KEY
MEILI_TIMEOUT=30
MEILI_BATCH_SIZE=500
MEILI_MAX_CONCURRENT_TASKS=3
